@import "../../../styles/color.scss";
.dd-account-item {
  display: flex;
  align-items: center;
  margin: 0 20rpx;
  &__icon {
    background: $--color-primary;
    border-radius: 50%;
    height: 70rpx;
    width: 70rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20rpx;
  }
  &__button {
    display: flex;
    align-items: center;
    height: 100%;
    &-delete,&-edit {
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #fff;
    }
    &-delete {
      background-color: $--color-danger;
    }
    &-edit {
      background-color: $--color-light-blue;
    }
  }
  &__info {
    border-bottom: 1px solid $--color-divider;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30rpx 20rpx;
    &-last {
      border-bottom: 0 !important;
    }
    &-label {
      font-size: 26rpx;
    }
    &-time {
      font-size: 24rpx;
      color: $--color-info;
    }
  }
}