@import "../../app.scss";
@import "../../styles/color.scss";

.dd-account-classify {
  position: relative;
  &__input {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    position:fixed;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 10rpx 0;
    display: flex;
    align-items: center;
    dd-icon {
      transform: translateY(-2px);
      margin-left: 20rpx;
      color: $--color-primary;
    }
    i-input {
      flex: 1;
    }
    &-btn {
      font-size: 30rpx;
      padding: 0 20rpx;
      color: $--color-primary;
    }
  }
  &__classifies {
    overflow: hidden;
    &-item {
      float: left;
      text-align: center;
      font-size: 26rpx;
      margin-top: 20rpx;
      &-icon {
        display: inline-flex;
        transition: all .3s;
        background: $--color-hover;
        align-items: center;
        justify-content: center;     
        border-radius: 50%;
        &--active {
          background: $--color-primary;
        }
      }
      &-label {
        margin-top: 4rpx;
      }
    }
  }
}