@import "../../../styles/color.scss";

.dd-account__account-book-setting {
  &__delete {
    text-align: center;
    padding: 20rpx;
    font-size: 28rpx;
    width: 80vw;
    border-radius: 4rpx;
    margin: auto;
    margin-top: 40rpx;
    color: $--color-danger;
    &-hover {
      opacity: 0.8;
    }
  }
}