@import "../../../styles/color.scss";

.dd-account__account-book-setting {
  &__delete {
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 20rpx;
    font-size: 28rpx;
    width: 100%;
    color: $--color-danger;
    &-hover {
      opacity: 0.8;
    }
  }
}