@import "../../../styles/color.scss";
.dd-account-home-panel {
  &__header {
    font-size: 28rpx;
    background-image: linear-gradient(to right,  mix($--color-primary, #fff, 60%), $--color-primary);
    z-index: 999;
    position: fixed;
    padding: 20rpx;
    width: 100%;
    left: 0;
    top: 0;
    &-date {
      display: flex;
      background: rgba(#fff, 0.2);
      padding: 10rpx 20rpx;
      border-radius: 8rpx;
      align-items: center;
      &-icon {
        margin-left: 10rpx;
        margin-top: -4rpx;
      }
    }
    &-types {
      display: flex;
      align-items: center;
      &-outgoings, &-income {
        margin-left: 20rpx;
      }
    }
  }
}