  .dd-date-picker__arrow {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(#000000, 0.5);
    &-relative {
      position: relative;
      height: 100%;
      width: 100%;
    }
    &-left {
      position: absolute;
      top: 10rpx;
      left: 10rpx;
    }
    &-right {
      position: absolute;
      top: 10rpx;
      right: 10rpx;
    }
  }