@import "../../../styles/color.scss";
.dd-account__date-contrast {
  box-shadow: $--box-shadow;
  width: 90vw;
  margin: auto;
  &-header {
    padding: 20rpx 0;
    background: $--color-hover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30rpx;
    &__types {
      margin-right: 10rpx;
      display: flex;
      align-items: center;
      font-size: 28rpx;
      &--active {
        background-color: $--color-primary;
      }
      &-outgoings, &-income {
        transition: all .3s;
        border-radius: 8rpx;
        padding: 10rpx 20rpx;
        margin-right: 20rpx;
      }
    }
    &-date {
      display: flex;
      padding: 10rpx;
      border-radius: 8rpx;
      align-items: center;
      &-icon {
        margin-left: 10rpx;
        margin-top: -4rpx;
      }
    }
  }
}
.dd-account__chart {
  height: 30vh;
  width: 200%;
  &-bar {
    height: 100%;
    width: 100%;
  }
}