$--color-primary:#febb2e;
$--color-major:#1c2438;
$--color-info:#495060;
$--color-desc:#80848f;
$--color-disable:#bbbec4;
$--color-blue:#2d8cf0;
$--color-light-blue:#5cadff;
$--color-dark-blue:#2b85e4;
$--color-success:#19be6b;
$--color-danger:#ed3f14;
$--color-warning:#ff9900;
$--color-border:#dddee1;
$--color-divider:#e9eaec;
$--color-hover:#f8f8f9;